main{
    max-width:1200px; 
    margin: 0 auto;
 }
 
 img {
     max-width: 100%;
 }

 .background {
     width:100vw;
     height:100vh;
     background-size: cover;
     position: absolute;
    z-index: -1;
     top:0;
     left:0;
 }

 .logo {
    font-family: Arial, Helvetica, sans-serif ;
    font-size: 4rem;
    font-weight: 500;
 }



.btnPo {
    width: 93vw;
    height: 93vw;
    background-size: cover;
    background-image: url("images/portfolio.png");
    margin: 1rem;
    margin-right: 1rem;
}

.btnOm {
    width: 93vw;
    height: 93vw;
    background-size: cover;
    background-image: url("images/ommig.png");
    margin: 1rem;
    margin-right: 1rem;
}

.btnKo {
    width: 93vw;
    height: 93vw;
    background-size: cover;
    background-image: url("images/kontakt.png");
    margin: 1rem;
    margin-right: 1rem;
}




 @media (min-width: 600px) {
     body {
         margin-right: 5rem;
         margin-left: 5rem;
     }
     
    .logo {
        font-family: Arial, Helvetica, sans-serif ;
        font-size: 5rem;
        font-weight: 500;

     }

     .grid-1-1 {
         display: grid;
         grid-template-columns: 1fr 1fr 1fr;
         gap:2rem;
         justify-items: center;
     }

     .btnPo {
         width: 25vw;
         height:25vw;
         background-size: cover;
         background-image: url("images/portfolio.png");
     }

     .btnPo:hover {
        width: 25vw;
        height:25vw;
        background-size: cover;
        background-image: url("images/portfolioHover.png");
    }

    .btnOm {
        width: 25vw;
        height:25vw;
        background-size: cover;
        background-image: url("images/ommig.png");
    }

    .btnOm:hover {
       width: 25vw;
       height:25vw;
       background-size: cover;
       background-image: url("images/ommigHover.png");
   }

    .btnKo {
        width: 25vw;
        height:25vw;
        background-size: cover;
        background-image: url("images/kontakt.png");
    }

    .btnKo:hover {
    width: 25vw;
    height:25vw;
    background-size: cover;
    background-image: url("images/kontaktHover.png");
    }

 }

